<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Neena Sengupta</title>
</head>
<body> <!-- This is my paragraph introducing myself -->

    <h1>All About Neena Sengupta</h1>
    <h2> Senior </h2>
    <h2>Information Systems and Finance Major </h2>
    <p>Neena is a current <strong>senior</strong> at The University of Maryland. She is from Ellicott City, Maryland and has lived in Maryland her whole life. In her free time, Neena enjoys film photography, reading fantasy novels, and watching movies. </p>
        <p> In her professional career, Neena interned at <strong> Bank of America </strong> as a Financial Analyst Intern. After graduating from University of Maryland, Neena is moving to New York City to join the Bank for a fulltime role. </p>


     <p>Neena's favorite books</p>
    <ul>
        <li>Pachinko by Min Jin Lee</li>
        <li> Silent Patient by Alex Micheaelides</li>
        <li> Harry Potter: Deathly hallows by Jk Rowling</li>
    </ul>

    <p> Neena's Top 3 movies </p>
    <ol>
        <li> Queen </li>
        <li> 10 Things I Hate About You </li>
        <li> All the Harry Potter Movies</li>
</ol>

<!-- This is the lists of my courses that I have taken -->
    <table>
        <tr>
          <th> Course </th>
          <th> Semester Taken</th>

        </tr>

        <tr>
            <td> BMGT302</td>
            <td> Fall 2022</td>
        </tr>

        <tr>
            <td> BMGT402</td>
            <td> Fall 2023</td>
        </tr>

        <tr>
            <td> BMGT445</td>
            <td> Spring 2024</td>
        </tr>

    </table>
<!-- Here I am linking my favorite websites -->
        <p><a> href="/hello"> Click on the text to go to the hello website </a></p>
        <p> A link to Netflix website is <a href="https://www.netflix.com/browse"> here. </a>This is one of my favorite websites.</p>
        <p> A link to the google flights website is <a href="https://www.google.com/travel/flights" target= /blank > here. </a> This is one of my favorite websites because I love to travel.</p>

    <p> Here is a picture of the Smith Logo</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267 " height=" 72" alt=" Smith Logo" >
</body>
</html>