
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Favorite Courses </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
{% extends'base.html'%}
{% block page_courses %}
    <h1>My Favorite Course</h1>
    <p>Course:{{course}}</p>
    <p>Course Number:{{course_number}}</p>
    <p> You have entered your favorite course as: {{course}} {{course_number}}</p>
{% endblock %}
</body>
</html>