
Copy code
{% extends "base.html" %}

{% block page_title %}
    Welcome to your training for the TerpSys Student Information System.
{% endblock %}

{% block page_head %}
    <div class="container">
        <h1>Welcome to your training for the TerpSys Student Information System</h1>
        <p>Training materials are currently under construction, but will be created very soon.</p>
        <p>Please check back soon or email Neena Sengupta at <a href="mailto:neenas930@gmail.com">neenas930@gmail.com</a> if you wish to be placed on the waiting list.</p>
    </div>
{% endblock %}